@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.background-image {
    background-image: url('images/desktop/image-hero.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 7em;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 3.5em 0em 0em 2em;
}

.navbar a {
    font-weight: bold;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
}

.nav-item {
    position: relative;
}

.nav-item:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    top: 1.5em;
    left: .5em;
    background-color: hsl(0, 0%, 100%);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero-logo {
    margin: 3em 0em 0em 10em;
}

.hero-content {
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    border: 2px solid hsl(0, 0%, 100%);
    width: 45%;
    padding: .5em 1.5em .5em 1em;
    margin: 2.5em 0em 0em 3em; 
}

/* first section background sytles */
.first-section {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}

.section-image {
    position: absolute;
    top: 7em;
    left: 10em;
    width: 50%;
}

.section-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em 6em 5em 5em;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    width: 45%;
    height: 50%;
    z-index: 2;
    top: 42%;
    right: 5%;
}

.section-content p {
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 3.5em;
    text-align: justify;
}

.section-content h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 2em;
}

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-copy {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    font-size: 1.5rem;
    padding: 4em 0em 4em 2em;
}

.section-copy button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    text-transform: uppecase;
    font-weight: bold;
    letter-spacing: .5em;
    outline: none;
    border: 1px solid hsl(0, 0%, 0%);
    margin-right: 12em;
    padding: 1em 3em 1em 3em;
    cursor: pointer;
    text-transform: uppercase;
}

.section-copy button:hover {
    background-color:  hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.section-copy h1 {
    margin-left: 3em;
}

.grid-display {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.grid-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.grid-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.grid-text {
    position: absolute;
    z-index: 3;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.75rem;
    padding: 1em;
}

.section-text {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:hsl(0, 0%, 0%);
    margin-top: 10em;
}

.footer-list {
    display: flex;
}

.footer-list li {
    padding-right: 1em;
    padding-bottom: 2.5em;
    list-style-type: none;
}

.footer-list a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
}

.footer-nav {
    height: 100%;
    width: 25%;
    margin-left: 9em;
}

.footer-img {
    height: 100%;
    width: 100%;
    padding: 2em 0em 2em 0em;
    object-fit: contain;
}

.footer-item {
    position: relative;
}

.footer-item:after{
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    top: 1.5em;
    left: .5em;
    background-color: hsl(0, 0%, 100%);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.footer-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer-img {
    position: relative;
}

.footer-img:after {
    content: '';
    position: absolute;
    width: 40%;
    transform: scaleX(0);
    height: 2px;
    top: 1em;
    left: 1.5em;
    background-color: hsl(0, 0%, 100%);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.footer-img:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer-icons {
    color: hsl(0, 0%, 100%);
    margin-right: 9em;
}

.footer-icons img {
    margin: 2em 0em 2.5em 1.5em;
}

.footer-icons p {
    color:  hsl(0, 0%, 55%);
    font-size: .75rem;
}











.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}